.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


body {
     background-color : hsl(210, 46%, 95%) ;
     display : flex ; 
     justify-content: center;
     align-items: center;
     height: 100vh; 
}
.container{
   width: 700px ; 
   display: flex;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info {
    font-size: 15px;
    color:  hsl(212, 23%, 69%);
}

.image img {
    width: 100%;
    height: 100%;
}

.image{ 
    width: 40% ;
    
}
.texte{
    width: 60%;
    background-color: white ;
    padding-inline-start: 50px;
    padding-inline-end: 60px;
    padding-block-start: 40px;
    
}

.texte p {
    margin-block-end: 30px;
    font-size: 13px;
    color :hsl(214, 17%, 51%) ;

}

.avatar{
    display : flex ;
    height: 40px; 
    margin-block-end: 30px;
    justify-content: space-between;
}
.avatar-profil{
    display : flex ;
}
.avatar-img {
        height: 100%; 
        border-radius: 50%; 
        margin-inline-end: 10px;
        object-fit: cover; 
        display: block; 
}
h1{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 18px;
    
    padding-block-end: 20px;
    color: hsl(217, 19%, 35%);

}

h2{
    font-family: sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    padding-block-end: 5px;
    color: hsl(214, 17%, 51%);
    font-size: 13px;
    

}

.share-icon{
    padding:5px 3px 5px 8px;
    width: 30px; 
    height: 30px;
    border-radius: 50%;   
    background-color: hsl(210, 46%, 95%) ; 
    cursor: pointer;
    
}

.content{ 
    background-color: hsl(217, 19%, 35%);
    width: 170px;
    display: flex;
    justify-content: space-around;
    padding-block: 20px ;
    border-radius: 10px;
}

span{
    margin-inline : 20px;
    color: hsl(212, 23%, 69%) ;
}

.content img{
    margin-inline-end: 15px;

}
.hidden{
    display: none;
    position : absolute ;
    left : 63.6% ;
    bottom: 42% ;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(217, 19%, 35%);
    margin-inline-start: 80px;
}

@media  (max-width: 500px) {
    .container {
        display: block ;
        width: 80%;
        height: 80%;
    }
    .image img {
        width: 100%;
        
    }

    body {
        background-color : hsl(210, 46%, 95%) ;
        display : flex ; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; 
   }
   .texte{
       width: 100%;
   }
   .hidden{
    display: none;
    position: relative; 
    top: auto;
    right: auto;
    bottom : 10px ;
    width: 393px;
    left: 0 ;
    height: 40px; 
    /* margin-block-end: 30px; */
}
 .content{ 
    border-radius: 0;
    position: relative ;
    bottom : 10px ;
    left: -50px ;
    width: 100%;
 }
 .triangle{
    width: 100%;
    display: none;
 }
.image{ 
    height: 50% ;
    width: auto;
}
}